<template name="menu">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		{{#if currentUser}}
			{{> user_sidebar}}
		{{else}}
			<p>Enregistrez-vous</p>
		{{/if}}
	</div>
	<!-- search form -->
	{{> search_sidebar}}
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="active">
			<a href="{{pathFor 'dashboard'}}">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>
	</ul>
</section>
</template>
